{% extends "base.html" %}

{% block title %}Cancel Order{% endblock title %}

{% block content %}
<div class="container mt-5">
  <h2>Cancel Order</h2>
  <form id="cancelOrderForm" method="post" action="{% url "order_cancel"%}">
      {% csrf_token %}
      <div class="form-group">
          <input type="hidden" name="order_id" value="{{ order_id }}">
          <label for="reason">Reason for cancellation:</label>
          <textarea class="form-control" id="reason" name="reason" rows="3" required></textarea>
        </div>
        <a href="{% url "orders" %}" class="btn btn-dark me-3"><- Back</a>
        <button type="button" class="btn btn-danger my-5" name="order_id" value="{{order_id}}" id="cancelButton">Cancel Order</button>
      </form>
    </div>
    
    <!-- Bootstrap JS and jQuery (required for modal) -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
  $(document).ready(function(){
      // When cancel button is clicked, show confirmation modal
      $('#cancelButton').click(function(){
          $('#confirmationModal').modal('show');
      });

      // When confirmation modal's cancel button is clicked, close modal
      $('#cancelConfirmation').click(function(){
          $('#confirmationModal').modal('hide');
      });

      // When confirmation modal's confirm button is clicked, submit form
      $('#confirmCancellation').click(function(){
          $('#cancelOrderForm').submit();
      });
  });
</script>

<!-- Confirmation Modal -->
<div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="confirmationModalLabel">Confirmation</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              Are you sure you want to cancel this order?
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" id="cancelConfirmation">No</button>
              <button type="button" class="btn btn-danger" id="confirmCancellation">Yes</button>
          </div>
      </div>
  </div>
</div>

{% endblock content %}
